<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevin_tiba.mapper">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".User_log">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".EntryScreen">


        </activity>

        <activity android:name=".Sign_in_page" />
        <activity android:name=".Registration" />
        <activity android:name=".Game_create" />
        <activity android:name=".Lobby" />
        <activity android:name=".Main_screen" />
        <activity android:name=".Games_list_display" />
        <activity android:name=".SendInvite" />
        <activity android:name=".Invitations" />


        <service android:name=".Sign_in_validation" />
        <service android:name=".Registration_validation" />
        <service android:name=".Game_create_service" />
        <service android:name=".Invite_service" />
        <service android:name=".Lobby_service_logs" />
        <service android:name=".Invitations_open_service" />
        <service android:name=".Invitations_broadcast" />
        <service android:name=".Games_list_broadcast" />
        <service android:name=".Games_list_service" />
        <service android:name=".Main_screen_broadcast" />
    </application>

</manifest>